.CentralDiv{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100vh;
    min-height: 100vh;
    
}
.ProfileOverlay{
    
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(185, 215, 224);
    min-width: 50%;
    max-width: 60%;
    word-break: break-word;
}
.profile-middle{
    min-width: 100%;
    padding:12px;

    color:black;
    display: flex;
    justify-content: center;
}
.profile-middle a{
    justify-content: flex-start;
    color:black !important;
}
.profile-middle p{
    justify-content: center;
}
.profile-bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    border-top:1px solid rgb(80, 106, 153);
}
.profile-bottom p{
    
    padding:24px;
}
.profile-top{
    margin:12px;
    padding:12px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(72, 108, 150);
    min-width: 100%;
    
    align-items: center;
    min-height: 200px;

}
.profile-top p, .profile-top a{
    margin-bottom:16px;
    margin-top:4px;
    color:rgb(255, 255, 255);
    font-size:20px;
    
}

.profile-top h1{
    
    border-bottom:2px rgb(129, 222, 250) solid;
}
img{
    border: 2px solid rgb(86, 128, 206);
    border-radius: 100px;
    background: rgb(59, 59, 59);
    aspect-ratio: 1/1;
    max-height: 90%;
    max-width: 90%;
    min-height: 90%;
    min-width: 90%;
}
.img-div{
    
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    max-height: 200px;
    max-width: 200px;
    min-height: 200px;
    min-width: 200px;
}
.main-info-container{
    padding: 24px;
    padding-top: 0;
    background-color: rgb(65, 99, 138);
    
}
.usernameShow{
    font-size: 2rem;
    line-height: 2;
    background-color: inherit;
}
.friends-interaction{
    color:black!important;
    line-height: 1.6;
    border-radius: 8px;
    background-color: rgb(80, 194, 202);
    padding:12px;
    margin-bottom: 4px;
    margin-top: 4px;
}
.Bio-div{
    max-width: 60%;
    word-break: break-all;
    margin: 6px;
    margin-bottom: 18px;
    border:1px solid rgb(64, 95, 121)
}
